.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu_active {
  display: block;
}

.menu__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  z-index: -1;
}

.menu__container {
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

.menu__close_btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  background: transparent url(../../images/menu-close-icon.svg) no-repeat center;
  background-size: 22px 22px;
}

.menu__close_btn {
  cursor: pointer;
  opacity: .8;
}

.menu_navtab {
  margin-top: 159px;
}

.menu__profile {
  margin-bottom: 99px;
}

@media (max-width: 1279px) {
  .menu__container {
    width: 520px;
  }
}

@media (max-width: 767px) {
  .menu__container {
    width: 320px;
  }
  .menu_navtab {
    margin-top: 144px;
  }

  .menu__profile {
    margin-bottom: 48px;
  }
}
