.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin-top: 74px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  width: 410px;
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  grid-template-rows: 3fr;
}

.profile__input-container {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-container:last-of-type {
  border: 0;
}

.profile__lable {
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
}

.profile__input {
  text-align: end;
  display: block;
  box-sizing: border-box;
  border: 0;
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
}

.profile__submit {
  margin: 205px 0 0;
  border: 0;
  background: none;
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
}

.profile__submit:hover {
  cursor: pointer;
  opacity: .8;
}

.profile__logout {
  border: 0;
  background: none;
  margin: 16px 0 70px;
  padding: 0;
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
}

.profile__logout:hover {
  cursor: pointer;
  opacity: .8;
}

@media(max-width: 1279px) {
  .profile__title {
    margin-top: 235px;
  }
  .profile__form {
    margin-top: 64px;
  }
  .profile__submit {
    margin-top: 192px;
  }
}

@media (max-width: 767px) {
  .profile__form {
    width: 260px;
  }
  .profile__title {
    margin-top: 70px;
  }

  .profile__form {
    margin-top: 47px;
  }

  .profile__submit {
    margin-top: 360px;
    font-size: 12px;
  }

  .profile__logout {
    font-size: 12px;
  }
}
