.header {
  width: 100%;
}

.header_background_blue {
  background-color: #465DFF;
}

.header_background_white {
  background-color: #FFF;
}

.header__box {
  min-height: 74px;
  margin: 0 70px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__last-item {
  margin-left: auto;
}

@media (max-width: 1279px) {
  .header__box {
    margin: 0 30px;
  }
}

@media (max-width: 767px) {
  .header__box {
    margin: 0 14px;
  }
}


