.navlink {
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  color:#000;
}

.navlink_color_white {
  color: #FFF;
}

.navlink_active {
  font-weight: 500;
}

@media (max-width: 768px){
  .navlink {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
  
  .navlink_active {
    padding-bottom:4px;
    border-bottom: 2px solid #000;
  }
}

@media (max-width: 767px){
  .navlink {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
  
  .navlink_active {
    padding-bottom:4px;
    border-bottom: 2px solid #000;
  }
}